*{
    margin: 0%;
    padding: 0%;
    font-family: Arial;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    display: flex;
    height: 100%;
    width: 100%;
}

#left{
    position: relative;
    height: 100%;
    width: 40%;
}

#right{
    height: 100%;
    width: 60%;
    background-color: goldenrod;
}

#rtop{
    display: flex;
    height: 50%;
    width: 100%;
    background-color: blue;
}

#rbottom{
    height: 50%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1494253109108-2e30c049369b?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}
#rtopleft{
    height: 100%;
    width: 55%;
    background-image: url(https://images.unsplash.com/photo-1557800636-894a64c1696f?q=80&w=1965&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: center;
    background-size: cover;
}

#rtopright{
    height: 100%;
    width: 45%;
    background-image: url(https://images.unsplash.com/photo-1586788224331-947f68671cf1?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-position: bottom;
    background-size: cover;
}

#lnav{
    width: 100%;
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}

#lnavr a{
    margin-right: 20px;
    text-decoration: none;
    font-weight: 500;
    color: black;
    font-size: 14px;
}

#lnavr{
    display: flex;
    align-items: center;
}

#lnavr i{
    color: royalblue;
}

#left #centertext{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#centertext h1{
    font-size: 90px;
    font-weight: 900;
}

#centertext a{
    text-decoration: none;
    color: black;
    font-family: 'Segoe UI';
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 600;
    opacity: .6;
}

#centertext p{
    font-size: x-small;
    opacity: .6;
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

@media(max-width: 500px){
    #main{
        flex-direction: column;
    }
    #main #left{
        width: 100%;
    }
    #main #right{
        width: 100%;
    }
}